body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

a {
  color: #8a3d3e;
}

/* home page */

.front-meta, .list-meta {
  text-decoration: none;
  padding:5px;
  border-radius:5px;
  text-align:center;
}

h1, h2, h3, h4 {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

h1 {line-height:110%;}

.front-meta h1 {
  font-size:36px;
}
.front-meta h2 {
  font-size:28px;
}

.front-meta, .article-meta, .list-meta {
  color:#732D2E;
  background:#f7f6f2;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }

.menu a {
  background: #f7f6f2;
  color:#4E6335;
}

.article-meta h2 {
  font-size:20px;
}

main h2 {
  margin: 40px 0 0 0;
}
main h3 {
  margin: 25px 0 0 0;
}

footer a { text-decoration: none; color:#4E6335; }
hr {
  border-style: dotted;
  color: #f6ecec;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #F7F5F5; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f7f6f2;
  border-left: 5px solid #627748;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #f7f6f2 }
